/*————————————————————————————————————————————————————
Base Elements  
————————————————————————————————————————————————————*/
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
} 

#wrapper {
  flex: 1;
}  

button {
  background: none;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  margin-top: 1rem;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 24px;
}

h4 {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
}

h5 {
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  color: #F3451E;
}

p {
  font-family: 'Nunito', sans-serif;
}

nav {
  padding: 5px;
  width: 100%;
}

.footer {
  margin-top: 50px;
  padding: 2rem 1.5rem;
}

.button {
  white-space: normal;
}


/*————————————————————————————————————————————————————
Modifiers  
————————————————————————————————————————————————————*/
.display-section {
  display: block;
}

.btn-center {
  margin: 0 auto;
  display: block;
}

.rm-btn-style {
  border: none;
  cursor: pointer;
}

.half-width {
  width: 50%;
}

.bold-font {
  font-weight: 800;
}

.movie-color {
  color: #F3451E;
}

.podcast-color {
  color: #784398;
}

.games-color {
  color: #0F6C71;
}

.margin-top-2{
  margin-top: 2rem;
}



/*————————————————————————————————————————————————————
Modal 
————————————————————————————————————————————————————*/
.modal-content {
  background-color: white;
  padding: 50px;
  word-wrap: break-word;
}

#jokeBtn {
  border-radius: 150px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  background: none;
  border: white solid 2px;
  font-size: 14px;
}

#jokeBtn:hover {
  color: black;
  background: white;
}


/*————————————————————————————————————————————————————
Media Choosers  
————————————————————————————————————————————————————*/
.movie-card,
.podcast-card,
.games-card {
  border-radius: 15px;
  transition: .5s;
}

.cc-movie-color {
  background-color: #F3451E;
  border-radius: 0 0 15px 15px;
}

.cc-podcast-color {
  background-color: #784398;
  border-radius: 0 0 15px 15px;
}

.cc-games-color {
  background-color: #0F6C71;
  border-radius: 0 0 15px 15px;
}

.movie-card:hover {
  box-shadow: -2px 17px 60px -9px rgba(243, 69, 30, 0.85);
  -webkit-box-shadow: -2px 17px 60px -9px rgba(243, 69, 30, 0.85);
  -moz-box-shadow: -2px 17px 60px -9px rgba(243, 69, 30, 0.85);
  transition: .5s;
}


.podcast-card:hover {
  box-shadow: -2px 17px 60px -9px rgba(119, 67, 152, 0.85);
  -webkit-box-shadow: -2px 17px 60px -9px rgba(119, 67, 152, 0.85);
  -moz-box-shadow: -2px 17px 60px -9px rgba(119, 67, 152, 0.85);
  transition: .5s;
}


.games-card:hover {
  box-shadow: -2px 17px 60px -9px rgba(15, 108, 113, 0.85);
  -webkit-box-shadow: -2px 17px 60px -9px rgba(15, 108, 113, 0.85);
  -moz-box-shadow: -2px 17px 60px -9px rgba(15, 108, 113, 0.85);
  transition: .5s;
}


/*————————————————————————————————————————————————————
Movie/Podcast/Game Selectors  
————————————————————————————————————————————————————*/
.selector-container {
  background: #F8F8F8;
  border: 1px solid #E0DADA;
  max-width: 700px;
  padding: 50px;
}

.or-separator {
  color: #D6D5D5;
}

.question-divider {
  padding-bottom: 2rem;
  border-bottom: #C8C8C8 1px solid;
}

/* Base styles for select buttons */
.podcast__select-btn,
.movie__select-btn,
.games__select-btn {
  padding: 40px 10px;
  border-radius: 0;
  height: auto;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  background: none;
  transition: .5s;
  height: 100%;
}

/* Podcast select button */
.podcast__select-btn {
  border: solid 4px #784398;
  color: #784398;
}

.podcast__select-btn:focus {
  color: #784398;
}

.podcast__select-btn:hover {
  border-color: #784398;
  background-color: #784398;
  color: white;
}

/* Movie select button */
.movie__select-btn {
  border: solid 4px #F3451E;
  color: #F3451E;
}

.movie__select-btn:focus {
  color: #F3451E;
}

.movie__select-btn:hover {
  border-color: #F3451E;
  background-color: #F3451E;
  color: white;
}

/* Games select button */
.games__select-btn {
  border: solid 4px #0F6C71;
  color: #0F6C71;
}

.games__select-btn:focus {
  color: #0F6C71;
}

.games__select-btn:hover {
  border-color: #0F6C71;
  background-color: #0F6C71;
  color: white;
}

/* Base styles for generate buttons */
.podcast__generate-btn,
.movie__generate-btn,
.games__generate-btn {
  padding: 15px;
  height: auto;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 20px;
  transition: .5s;
  /* box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.20); */
  color: white;
}

.podcast__generate-btn:focus,
.movie__generate-btn:focus,
.games__generate-btn:focus {
  color: white;
}

/* Podcast generate button */
.podcast__generate-btn {
  background: #784398;
  box-shadow: 0px 5px 14px rgba(119, 67, 152, 0.50);
  border-color: #784398;
}

.podcast__generate-btn:hover {
  background: none;
  color: #784398;
  border: solid 4px #784398;
  padding: 12px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0);
}

/* Movie generate button */
.movie__generate-btn {
  background: #F3451E;
  box-shadow: 0px 5px 14px rgba(243, 69, 30, 0.50);
  border-color: #F3451E;
}

.movie__generate-btn:hover {
  background: none;
  color: #F3451E;
  border: solid 4px #F3451E;
  padding: 12px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0);
}

/* Game generate button */
.games__generate-btn {
  background: #0F6C71;
  box-shadow: 0px 5px 14px rgba(15, 108, 113, 0.50);
  border-color: #0F6C71;
}

.game__generate-btn:hover {
  background: none;
  color: #0F6C71;
  border: solid 4px #0F6C71;
  padding: 12px;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0);
}












/*————————————————————————————————————————————————————
————————————————————————————————————————————————————
————————————————————————————————————————————————————

Media Selectors 

————————————————————————————————————————————————————
————————————————————————————————————————————————————
————————————————————————————————————————————————————*/
@media only screen and (max-width: 574px) {
  .podcast__select-btn,
  .movie__select-btn,
  .games__select-btn {
    padding: 40px 10px;
    font-size: 18px;
  }

  .selector-container {
    background: #F8F8F8;
    border: 1px solid #E0DADA;
    max-width: 700px;
    padding: 50px 20px;
  }
}